.App {
  color: #e6dedd;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

body {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

html {
  height: 100%;
}

a {
  color: #4592af;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #4592af;
  text-decoration: none;
}

strong {
  color: #ffce76;
}
