.Forecast .forecast-degrees {
  color: #ffce76;
  line-height: 27px;
}

.Forecast i.forecast-icon {
  font-size: 60px;
  opacity: 0.7;
  transition: all 150ms ease-in-out;
}

.Forecast i.forecast-icon:hover {
  opacity: 1;
}

/* .Forecast #forecast-wrapper {
  padding: 25px 0 30px 0;
} */
